{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<h1 class="mt-5 ml-2">Cardápio</h1>

{% if user.is_authenticated %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="row mt-5">
                    {% for pratos in cardapios %}
                    <div class="col-md-auto mt-2">
                        <div class="card" style="width: 18rem;">
                            {% if loja.image %}
                                <a href="{% url 'pedido' pratos.id page%}"> <img class="card-img-top" src="{{ pratos.image.url }}"> </a>
                            {% else %}
                                <a href="{% url 'pedido' pratos.id  page%}"><img class="card-img-top" src="{% static 'img/default.png' %}"></a>
                            {% endif %}
                            <div class="card-body">
                              <h5 class="card-title">{{ pratos.nome }}</h5>
                                        <p class="card-text">{{ pratos.about|truncatechars:50 }}...</p>
                                <p class="card-text">{{ pratos.price }}...</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-4">
                <centeR><h4>Seu Carrinho</h4></centeR>
                {%for pedido in pedidos %}

                 {{ pedido.id_prato }} | R$: {{ pedido.id_prato.price }} | <a href="{% url 'del_pedido' pedido.id_pedido page %}">Excluir </a> <br>

                {% endfor %}

                <br>
                <b>Total a pagar: R$: {{ total }}</b>

                <center>
                    <a href="{% url 'finalizar_compra' page %}"><button type="button" class="btn btn-primary mt-5" onclick="this.disabled = true;">Finalizar Compra</button></a>
                    <a href="{% url 'del_carrinho' page %}"><button type="button" class="btn btn-danger mt-5" onclick="this.disabled = true;">Limpar Carrinho</button></a>
                </center>

            </div>

        </div>
    </div>

{% else %}
    <h5>Você precisa logar antes de acessar essa página!</h5>
{% endif %}



{% endblock %}