{% extends 'core/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

<center>
    <div class="container-fluid">
        <div class="row mt-5">
            {% for loja in lojas %}
            <div class="col-sm">
              <div class="card" style="width: 18rem;">
                {% if loja.image %}
                    <a href="{% url 'details' loja.slug %}"> <img class="card-img-top" src="{{ loja.image.url }}"> </a>
                {% else %}
                    <a href="{% url 'details' loja.slug %}"><img class="card-img-top" src="{% static 'img/default.png' %}"></a>
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ loja.nome }}</h5>
                            <p class="card-text">{{ loja.descricao|truncatechars:50 }}...</p>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</center>

{% else %}
    <h5>Você precisa logar antes de acessar essa página!</h5>
{% endif %}

{% endblock %}